<!--     <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
      <div class="banner-top responsive-banner">
        <div class="feature-partners">
          <ul>
            {partners}
              <li><span><img src="{img}"></span></li>
            {/partners}
          </ul> 
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
      <div class="banner-top responsive-banner">
        {banner_top}
      </div>
    </div>
  </div>
</div>

    <div class="container-fluid cf-grey4">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="title-pagination">Directory</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid cf-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="breadcrumb-page">
              <ol class="breadcrumb">
                <li><a href="{base_url}">Amcham</a></li>
                <li><a href="{base_url}">Directory</a></li>
                <li class="active">{member_full_name}</li>
              </ol>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-xs-12 pt30 pb50">
            <div class="media media-content">
              <div class="media-body">
                <div class="frame-content">
                  <div class="title-member-dtl mb0">{member_full_name}</div>
                  <div class="widget-white pt30 pb0 mb15">
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-xs-12">
                        <div class="media media-listmember">
                          <div class="media-left">
                            <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/maps.png"></div>
                          </div>
                          <div class="media-body">World Trade Center, 11th Floor<br> Jl. Jend. Sudirman Kav. 29-31<br> Jakarta 12920 Indonesia</div>
                        </div>
                        <div class="media media-listmember mt30">
                          <div class="media-left">
                            <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/link-website.png"></div>
                          </div>
                          <div class="media-body">http://www.deloitte.com/id</div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-xs-12 text-right">
                        <div class="thumbnail-amcham thumb-product"><img src="{base_url}asset/images/deloitte.png"></div>
                      </div>
                    </div>
                    <hr class="line-content">
                    <p>Deloitte provides audit & assurance, consulting, financial advisory, risk advisory and tax services to public and private clients spanning multiple industries. With a globally connected network of member firms in more than 150 countries, Deloitte brings world-class capabilities and high quality service to clients, delivering the insights they need to address their most complex business challenges. Deloitte’s approximately 264,000 professionals are committed to making an impact that matters.</p>
                    <p>In Indonesia, services are provided by Satrio Bing Eny & Rekan, Deloitte Touche Solutions, PT Deloitte Konsultan Indonesia and PT Deloitte Consulting.</p>
                  </div>
                  <div class="widget-white pt15 pb15 mb15">
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/people.png"></div>
                      </div>
                      <div class="media-body">Representative Name 01</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/card.png"></div>
                      </div>
                      <div class="media-body">Job Position</div>
                    </div>
                    <!-- <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/phone.png"></div>
                      </div>
                      <div class="media-body">+628 0000 0000</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/envalop.png"></div>
                      </div>
                      <div class="media-body">member.email@mail.com</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/in-o.png"></div>
                      </div>
                      <div class="media-body">linkedin.id</div>
                    </div> -->
                  </div>
                  <div class="widget-white pt15 pb15 mb15">
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/people.png"></div>
                      </div>
                      <div class="media-body">Representative Name 02</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/card.png"></div>
                      </div>
                      <div class="media-body">Job Position</div>
                    </div>
                    <!-- <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/phone.png"></div>
                      </div>
                      <div class="media-body">+628 0000 0000</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/envalop.png"></div>
                      </div>
                      <div class="media-body">member.email@mail.com</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/in-o.png"></div>
                      </div>
                      <div class="media-body">linkedin.id</div>
                    </div> -->
                  </div>
                  <div class="widget-white pt15 pb15 mb15">
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/people.png"></div>
                      </div>
                      <div class="media-body">Representative Name 03</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/card.png"></div>
                      </div>
                      <div class="media-body">Job Position</div>
                    </div>
                    <!-- <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/phone.png"></div>
                      </div>
                      <div class="media-body">+628 0000 0000</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/envalop.png"></div>
                      </div>
                      <div class="media-body">member.email@mail.com</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/in-o.png"></div>
                      </div>
                      <div class="media-body">linkedin.id</div>
                    </div> -->
                  </div>
                  <div class="widget-white pt15 pb15 mb15">
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/people.png"></div>
                      </div>
                      <div class="media-body">Representative Name 04</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/card.png"></div>
                      </div>
                      <div class="media-body">Job Position</div>
                    </div>
                    <!-- <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/phone.png"></div>
                      </div>
                      <div class="media-body">+628 0000 0000</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/envalop.png"></div>
                      </div>
                      <div class="media-body">member.email@mail.com</div>
                    </div>
                    <div class="media media-listmember">
                      <div class="media-left">
                        <div class="icon-listmember il-dtlpart"><img src="{base_url}asset/images/in-o.png"></div>
                      </div>
                      <div class="media-body">linkedin.id</div>
                    </div> -->
                  </div>
                  <a href="#" class="btn-red btn-grey-direct">Back to List Member Directory</a>
                </div>
              </div>
              <div class="media-right">
                <div class="wrap-right">
                  <div class="banner-ads mb30"><img src="{base_url}asset/images/banner-ads.jpg"></div>
                  <div class="widget-white mb15">
                    <div class="event-type">Social & networking event</div>
                    <div class="title-event-list"><a href="#">Red Nose Foundation's Festival of Laughs</a></div>
                    <div class="media">
                      <div class="media-left media-middle"><span class="icon-time"></span></div>
                      <div class="media-body media-middle">Nov 4, 2017   /   18:00 - 20:30</div>
                    </div>
                    <div class="media">
                      <div class="media-left media-middle"><span class="icon-maps"></span></div>
                      <div class="media-body media-middle">Ayana Hotel, Midplaza</div>
                    </div>
                  </div>
                  <div class="widget-white mb15">
                    <div class="event-type">Social & networking event</div>
                    <div class="title-event-list"><a href="#">Red Nose Foundation's Festival of Laughs</a></div>
                    <div class="media">
                      <div class="media-left media-middle"><span class="icon-time"></span></div>
                      <div class="media-body media-middle">Nov 4, 2017   /   18:00 - 20:30</div>
                    </div>
                    <div class="media">
                      <div class="media-left media-middle"><span class="icon-maps"></span></div>
                      <div class="media-body media-middle">Ayana Hotel, Midplaza</div>
                    </div>
                  </div>
                  <a href="events.html" class="btn-red">View All Events</a>
                  <div class="cover-reports mt30 mb15"><img src="{base_url}asset/images/cover-reports.jpg"></div>
                  <a href="reports-publications.html" class="btn-red">View All Reports</a>
                  <div class="cover-newsletter mt30"></div>
                  <div class="widget-white widget-newsletter mb15">
                    <div class="event-type">Newsletter  |  Aug 15, 2017</div>
                    <div class="title-event-list"><a href="#">Apindo's Sammy Hamzah interviewed;</a></div>
                    <p>e-commerce roadmap; Google's free public WI-FI; millennial matters and more.</p>
                  </div>
                  <a href="reports-publications.html" class="btn-red mb30">View All Newsletter</a>
                  <div class="btn-blue">Twitter Feed</div>
                  <div class="latest-tweets"><a class="twitter-timeline" data-height="370" href="https://twitter.com/AmChamIndonesia?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
